#container {
    width: 500px;
    margin: auto;
    text-align: center;
}

#word {
    font-size: 3em;
    margin-bottom: 10px;
}

#letterInput {
    font-size: 1.5em;
}

#guessButton {
    font-size: 1.5em;
}

#guessedLetters {
    margin-top: 20px;
}

#remainingGuesses {
    margin-top: 20px;
}

#message {
    margin-top: 20px;
    font-weight: bold;
}